/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
 }
 
 
 #header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
 }
 
 
 #header .logo h1 a, #header .logo h1 a:hover {
  color: #ffffff;
  text-decoration: none;
 }
 
 
 #header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
 }
 
 
 #main {
  margin-top: 72px;
 }
 
 
 /*--------------------------------------------------------------
 # Navigation Menu
 --------------------------------------------------------------*/
 /* Desktop Navigation */
 .nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
 }
 
 .header2023{
  background-color: #1d1f25;
  padding: 10px 0 10px 0;
 }


 .nave2023{
  padding-left: 40%;
 }

 .heading2023{
  padding-left: 10%;
 }
 

 .nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
 }
 
 
 .nav-menu a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
 }
 
 
 .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #eb5d1e;
  text-decoration: none;
 }
 
 
 .nav-menu .get-started a {
  background: #ff5e00;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
 }
 
 
 .nav-menu .get-started a:hover {
  background: #ee7843;
  color: #fff;
 }
 
 
 .nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
 }
 
 
 .nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
 }
 
 
 .nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
 }
 
 
 .nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3c1300;
 }
 
 
 .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #eb5d1e;
 }
 
 
 .nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
 }
 
 
 .nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
 }
 
 
 .nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
 }
 
 
 .nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
 }
 
 
 .nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
 }
 
 
 @media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
 }
 
 
 /* Mobile Navigation */
 .mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #4e4039;
  transition: 0.4s;
 }
 
 
 .mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
 }
 
 
 .mobile-nav a {
  display: block;
  position: relative;
  color: #f9d1c0;
  padding: 10px 20px;
  font-weight: 500;
  transition: 0.3s;
 }
 
 
 .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #f39e7a;
  text-decoration: none;
 }
 
 
 .mobile-nav .get-started a {
  background: #eb5d1e;
  color: #fff;
  border-radius: 50px;
  margin: 15px;
  padding: 10px 25px;
 }
 
 
 .mobile-nav .get-started a:hover {
  background: #ee7843;
  color: #fff;
 }
 
 
 .mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
 }
 
 
 .mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
 }
 
 
 .mobile-nav .drop-down > a {
  padding-right: 35px;
 }
 
 
 .mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
 }
 
 
 .mobile-nav .drop-down li {
  padding-left: 20px;
 }
 
 
 .mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
 }
 
 
 .mobile-nav-toggle i {
  color: #7a6960;
 }
 
 
 .mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(78, 64, 57, 0.9);
  overflow: hidden;
  display: none;
 }
 
 
 .mobile-nav-active {
  overflow: hidden;
 }
 
 
 .mobile-nav-active .mobile-nav {
  left: 0;
 }
 
 
 .mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
 }





/* end navbar */

.header {
    overflow: hidden;
    background-color:#aaaaaa;
    padding: 10px 10px ;
    padding-left: 80%;
  
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 8px;
    border-radius: 8px;
  }
  
  
  

    .divone{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        padding-top: 30px;
    }

    .imageone{
        float: left;
        padding-top: 10px;
        padding-left: 80px;
    
    }

    .divtwo{
        padding-top: 170px;
        padding-left: 90px;
        box-shadow: 2px 2px 2px 2px black ;

    }

   .divthree{
        padding-top: 80px;
        padding-right:70px;
  
    }

    .section7{   margin-left: 100px;
                  background-color: #C0C8E4;
                  padding-left: 30px;
    }

    .grid-container3 {
        display:inline-grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 80px; 
      }
    .grid-item3{
            padding: 70px;
                    }

                    .button8{
                        border-radius: 20px;
                        color:white;
                        background-color: blue;
                      }

                      .grid-item3 > span{
                        padding-right: 1rem;
                    }

    
       .section8{
        padding-right: 100px;
  
       }     
       
       .section9{
        padding: 10px;
        padding-right: 100px;
        padding-top:40;
       }

       .nav{
        background-color: rgb(235, 228, 219);
       }
       .three{
        padding-left: 100px;
       }

       .section1{
        background-color: #C0C8E4;
       }
  



       /*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}  

/* .footer-1{
  padding-bottom: 20%;
} */